@import 'functions';

// Theme
// ==================
@mixin dark() {
  @if (&) {
    @media (prefers-color-scheme: dark) {
      body:not([class~='light-theme']) & {
        @content;
      }
    }
    .dark-theme & {
      @content;
    }
  } @else {
    @media (prefers-color-scheme: dark) {
      body:not([class~='light-theme']) {
        @content;
      }
    }
    .dark-theme {
      @content;
    }
  }
}

@mixin in-view() {
  opacity: 0;

  &.appeared {
    opacity: 1;
    transition: opacity 2s;
  }
}
